/bin
/target

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

hs_err_pid*
/test-client-dir/
/test-server-dir/

demodb*
tempdb*
/dependency-reduced-pom.xml
/nbactions.xml